<ion-header>
  <ion-toolbar>
    <ion-menu-button slot="start"></ion-menu-button>
    <div class="ion-text-center">
      <img class="logo" src="/assets/images/logo.png" />
    </div>
    <ion-buttons slot="end">
      V 1.0
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-progress-bar *ngIf="loading == true" type="indeterminate"></ion-progress-bar>
  <div class="pt-3 px-1">
    <ion-button class="mb-3" expand="block">
      <ion-icon name="add-outline"></ion-icon>
      Ajouter une BoxSmartLock
    </ion-button>
    <ion-button expand="block">
      <ion-icon name="add-outline"></ion-icon>
      Ajouter une EasySmartLock
    </ion-button>

    <div class="mt-3">
      <ion-button color="primary" expand="block"  (click)="listeBox()">
        Voir mes BoxSmartLock
      </ion-button>
    </div>
    <div class="mt-3">
      <ion-button color="primary" expand="block"  (click)="listeEasy()">Liste de vos EasySmartLock</ion-button>
    </div>
  </div>
</ion-content>
